@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h1>Definir Lista de Ejecución</h1>
    <p>Aquí podrás establecer el orden de ejecución de los programas definidos.</p>
</div>
