@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>¡Simulación Finalizada!</h1>
    <p>@ViewBag.Message</p>
    <a class="btn btn-primary" href="/Home/Index">Volver al Menú Principal</a>
</div>
