@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h1>Bienvenido al Proyecto de Simulación del SO</h1>
    <p>Seleccione una de las opciones del menú para comenzar a configurar y emular la simulación.</p>
</div>
